/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.btn{
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.left_point{
    -fx-background-image: url(../img/left_16.png);
}
.right_point{
    -fx-background-image: url(../img/right_16.png);
}
.home_btn{
    -fx-background-image: url(../img/home_16.png);
}
.refresh_btn{
    -fx-background-image: url(../img/refresh.png);
}
.bookmark{
    -fx-background-image: url(../img/plus_16.png);
}
.inner_pane{
    -fx-border-radius: 3px;
    -fx-border-color: dodgerblue;
    -fx-border-style: solid;
    -fx-background-color: white;
}
